{% extends 'base.html.twig' %}

{% block title %}Edit Eleve{% endblock %}

{% block body %}
    <div class="container">

        {{ include('eleves/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('eleve_index') }}">Retour</a>
    </div>

    {{ include('eleves/_delete_form.html.twig') }}
{% endblock %}
